<% @title = "Reset Password" %>

<div class="form-signin">
  <h2 class="form-signin-heading">Reset Password</h2>
    <%= form_tag password_resets_path, :method => :post do %>
    <%= email_field_tag :email, params[:email], :placeholder => "Email", :class => "forcontrol" %>
    <%= submit_tag "Reset your password", class: "btn btn-lg btn-primary btn-block" %>
    <% end %>
</div>