// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Move down content because we have a fixed navbar that is 50px tall */

/* Style for the Jumbotron page */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* END Style for the Jumbotron page */


/* Style for the Theme page */

.body-theme {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

/* END Style for the Theme page */






