<div class="container">
  <!-- Example row of columns -->
  <div class="row">

      <h2>Chuck Event 1</h2>
      <p class="text-justify">Chuck ipsum. Chuck Norris ordered a Big Mac at Burger King, and got one. Chuck Norris eats transformer toys in vehicle mode and poos them out transformed into a robot. Chuck Norris owns the greatest poker face of all-time. It helped him win the 1983 world series of poker despite him holding just a joker, a 2 of clubs, a 7 of spades, and a green number 4 from Uno and a monopoly ‘get out of jail free’ card. Chuck Norris once ate three 72 oz. steaks in one hour.  </p>
      <p><a class="button" href="#" role="button">View details &raquo;</a></p>


      <h2>Chuck Event 2</h2>
      <p class="text-justify">Chuck Norris has already been to Mars; that's why there are no signs of life there. Chuck Norris always has sex on the first date. Always. Chuck Norris doesn’t need to swallow when eating food. Chuck Norris sleeps with a night light. Not because Chuck Norris is afraid of the dark, but the dark is afraid of Chuck Norris Chuck Norris won 'Jumanji' without ever saying the word. He simply beat the living sh*t out of everything that was thrown at him, and the game forfeited. Chuck Norris frequently donates blood to the Red Cross. Just never his own. There is no such thing as tornados. Chuck Norris just hates trailer parks. Chuck Norris doesn’t need to swallow when eating food. Chuck Norris invented water. Chuck Norris went looking for a bar but couldn’t find one. He walked to a vacant lot and sat there. Sure enough within an hour an a half someone constructed a bar around him. He then ordered a shot, drank it, and then burned the place to the ground.   </p>
      <p><a class="button" href="#" role="button">View details &raquo;</a></p>

      <h2>Chuck Event 3</h2>
      <p class="text-justify">Chuck Norris is a man of few words. Chuck Norris is not a man of few roundhouse kicks to the face. If you want a list of Chuck Norris’ enemies, just check the extinct species list. There is no chin behind Chuck Norris' beard. There is only another fist. Chuck Norris is 1/8th Cherokee. This has nothing to do with ancestry, the man ate a f*cking Indian. Scientists in Washington have recently conceded that, if there were a nuclear war, all that would remain are cockroaches and Chuck Norris. Chuck Norris isn’t lactose intolerant. He just doesn’t put up with lactose’s sh*t. Chuck Norris doesn’t eat. Rather he kicks ass until he’s full. Chuck Norris is Luke Skywalker’s real father. When you open a can of whoop-ass, Chuck Norris jumps out.</p>
      <p><a class="button" href="#" role="button">View details &raquo;</a></p>

  </div>

  <hr>

  <footer>
    <p>&copy; Company 2013</p>
  </footer>
</div> <!-- /container -->