<section id="homepage-hero">

  <div class="row">
    <div class="medium-7 large-6 columns">
      <h1>Foundation</h1>
      <h3>Welcome to biggest Event<br class="hide-for-small">marketplace in the world.</h3>
      <br>
    </div>
  </div>


  <div class="row">
    <div class="large-4 medium-6 columns">
      <%= link_to "Sign Up Now!", signup_path, class: "large button hide-for-small"  %>
      <%= link_to "Sign Up Now!", signup_path, class: "lsmall button show-for-small"  %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div id="watch">
        <section id="twitter">
          <h4><a href="http://twitter.com/dimich71" target="blank">@newproject <i class="fa fa-twitter fa-lg"></a></i></h4>
        </section>
      </div>
    </div>
  </div>

  <div class="floatingyeti">
    <img src="assets/img/twittersvg">
  </div>
</section>