
<div class="container">
<div class="row">
  <div class="small-12 columns">
    <% if flash[:warning] %>
      <div data-alert class="alert-box warning">
      <%= flash[:warning] %>
      <a href="#" class="close">&times;</a>
      </div>
    <% end %>

    <% if flash[:success] %>
      <div data-alert class="alert-box success">
      <%= flash[:success] %>
      <a href="#" class="close">&times;</a>
      </div>
    <% end %>

    <% if flash[:info] %>
      <div data-alert class="alert-box info">
      <%= flash[:info] %>
      <a href="#" class="close">&times;</a>
      </div>
    <% end %>

  </div><!-- //.twelve.columns -->
</div><!-- //.row -->
</div><!-- //.container -->
</div>


